body{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: justify;
}

header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#index div.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#heroes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#hero_info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#hero_abilities{
    margin-top: 50px;
}

section.rewards{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.rewards div{
    display: flex;
    flex-direction: column;
}

section.rewards div.rewards_type{
    border: 1px solid black;
}

section.rewards div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.rewards div div div{
    display: flex;
    flex-direction: column;
}

section#event_info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#account_info div#title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}