body{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: justify;
}

header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#heroes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#hero_info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#hero_abilities{
    margin-top: 50px;
}

section#hero_rewards{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#hero_rewards div{
    display: flex;
    flex-direction: column;
}

section#hero_rewards div.rewards_type{
    border: 1px solid black;
}

section#hero_rewards div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#hero_rewards div div div{
    display: flex;
    flex-direction: column;
}